*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HSP-logo{
  width: 230px;
  cursor: pointer;
  margin: 30px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.menu li {
  list-style: none;
}
.menu li a {
  display: block;
  text-decoration: none;
  color: #24a4ac;
  padding: 1em 1.5em;
  font-size: 1rem;
}
.has-dropdown {
  position: relative;
}
.submenu {
  position: absolute;
  left: 0;
  background-color: #5b5b5b;
  white-space: nowrap;
  padding: 1.5em 0;
  min-width: 16em;
  z-index: 99;

  /* hides the submenus */
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
}
.submenu > li > a {
  padding: 0.8em 1.5em;
}
.menu > li:hover > a,
.submenu > li:hover > a {
  background-color:#24a4ac;
  color: #8ad4d4;
}
.menu > li:hover > a {
  background-color: #5b5b5b;
}
.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-top: -0.25em;
  transition: transform 150ms ease-in-out;
}
.menu > li:hover > a + .submenu,
.submenu > li:hover > a + .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .arrow {
  transform: rotate(225deg);
}


footer{
  margin-bottom: 10px;
  text-align: center;
}

.Home-Container{
  padding: 0.25em;
  display: grid;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto auto;
  justify-items:center;
  justify-content: space-around;
}

.Information {
    padding: 2em;
    border-radius: .5em;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.1);
    text-align: center;
  }
/*Layout fot the home Page*/
.Home-Section-1{
  grid-column: 2/5;
  grid-row: 1/2;
}
.Home-Section-2{
  grid-column: 2/5;
  grid-row: 2/3;
}
.Home-Section-3{
  grid-column: 2/5;
  grid-row: 3/4;
}
.Home-Section-4{
  grid-column: 3/4;
  grid-row: 4/5;
}

p{
  margin-top: 0;
}
span{
  font-weight: bolder;
position:relative;
}
/*layout for the home page when viewed on a device with less than  pixels width*/
@media only screen and (max-width: 550px){
  .Home-Container{
    padding: 20px;
    display: grid;
    grid-gap: 2.5px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .Home-Section-1{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .Home-Section-2{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .Home-Section-3{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .Home-Section-4{
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
/*Layout for the contact page*/
.Contact-Container{
  padding: 0.25em;
  display: grid;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto auto;
  justify-items:center;
  justify-content: space-around;
}
.Contact-Section-1{
  grid-column: 2/3;
  grid-row: 1/2;
}
.Contact-Section-2{
  grid-column: 3/5;
  grid-row: 1/2;
}
.Contact-Section-3{
  grid-column: 2/3;
  grid-row: 2/3;
}
.Contact-Section-4{
  grid-column: 3/4;
  grid-row: 2/3;
}
.Contact-Section-5{
  grid-column: 4/5;
  grid-row: 2/3;
}
.Contact-Section-6{
  grid-column: 2/3;
  grid-row: 3/4;
}
.Contact-Section-7{
  grid-column: 3/4;
  grid-row: 3/4;
}
.Contact-Section-8{
  grid-column: 4/5;
  grid-row: 3/4;
}
/*Layoutmfor contact page when veiwed from smaller devices*/
@media only screen and (max-width: 550px){
  .Contact-Container{
    padding: 1em;
    display: grid;
    grid-row-gap: 0.25em;
    grid-column-gap: 0.5em;
    grid-template-columns: 100%;
    grid-template-rows:  auto auto;
  }
  .Contact-Section-1{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .Contact-Section-2{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .Contact-Section-3{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .Contact-Section-4{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Contact-Section-5{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Contact-Section-6{
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Contact-Section-7{
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .Contact-Section-8{
    grid-column: 1/2;
    grid-row: 8/9;
  }
}

/*Menus for smaller devices brings hamburger icon*/
@media only screen and (max-width:550px){

  header {
    /*     position: relative; */
      padding: 1.5em 2em;
    }
    .menu {
      flex-flow: column;
      position: absolute;
      background: #24a4ac;
      top: 4.55em;
      left: 0;
      right: 0;
      height: 100vh;
      margin-top: 5rem;
  
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top center;
      transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 125ms,
        125ms opacity ease-in-out;
  
      overflow-y: scroll;
  
    }
    .menu > li > a {
      font-size: 1rem;
      color: #5b5b5b;
    }
    .submenu > li > a {
      font-size: 1rem;
    }
  
    .submenu {
      top: 0;
      padding-left: 1.5em;
      border-left: 0.12em dotted;
      border-color: #8ad4d4;
    }
  
    .menu > li:hover > a + .submenu,
    .submenu > li:hover > a + .submenu {
      position: relative;
    }
  
    .hamburger {
      width: 2em;
      height: 0.25em;
      display: block;
      background: #5d5d5d;
      position: relative;
      cursor: pointer;
      transition: 0.2s transform ease-in-out;
    }
    .hamburger::after,
    .hamburger::before {
      content: "";
      position: absolute;
      left: 0;
      background: inherit;
      width: inherit;
      height: inherit;
  
      transition: 0.2s transform ease-in-out;
    }
  
    .hamburger::after {
      top: 0.65em;
    }
    .hamburger::before {
      bottom: 0.65em;
    }
  
    .close::after,
    .close::before {
      top: 0;
      transition: 0.35s transform ease-in-out;
    }
    .close::before {
      display: none;
      width: 0%;
    }
    .close {
      transform: rotate(45deg);
      transition: 0.3s transform ease-in-out;
    }
    .close::after {
      transform: rotate(-90deg);
    }
  
    /* reveal menu */
    input[type="checkbox"]:checked + .menu {
      position: absolute;
      opacity: 1;
      transform: scaleY(1);
      width: 100%;
    }
}

input[type=text] {
  background-color: #d3e2e3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  float: center;
  margin: 15px;
  width: 155px;
  height: 25px;
}
input[type=password] {
  background-color: #d3e2e3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  float: center;
  margin: 15px;
  width: 155px;
  height: 25px;
}
input[type=date] {
  background-color: #d3e2e3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: center;
  margin: 15px;
  width: 155px;
  height: 25px;
}

.LogInbtn{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  background-color: #24a4ac;
}

.ForgotPasswordSubmitbtn{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  background-color: #24a4ac;
}

.HomePageRequestbtn{
  width: 140px;
  height: 50px;
  border: none;
  margin-top: 25px;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  float: center;
  background-color: #24a4ac;
}
.CreateAccountSubmitbtn{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  background-color: #24a4ac;
}
.UserSignInSubmitbtn{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  background-color: #24a4ac;
}
.UserSignedInSubmitbtn{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  background-color: #24a4ac;
}
.UserSignOutbtn{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  background-color: #d3e2e3;
}
.UserSignInRequestbtn{
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  float: center;
  background-color: #24a4ac;
}
.UserSignedInRequestbtn{
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  float: center;
  background-color: #24a4ac;
}

.CreateAccountClearbtn{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  color: #fffff;
  background-color: #87ccd4;
}
/*Radio group for male and female*/
.radiogroup{
  display: inline-flex;
  overflow: hidden;
  border-radius: 5px;
  background-color: #d3e2e3;
  cursor: pointer;
  margin: 15px;
}
.radiogroup-input{
  display: none;
}
.radiogroup-label{
  padding: 10px 15px;
width:77.5px;
height: 25px;
text-align: center;
font-size : 14px;
font-family: sans-serif;
background:#d3e2e3;
cursor: pointer;
transition: background 0.1s;
}
.radiogroup-label:not(:last-of-type){
  border-right: 1px solid #87ccd4;
}

.radiogroup-input:checked + .radiogroup-label{
  background: #87ccd4;
}

/*Create Account page layout*/
.Sign-In-Container{
  padding: 0.25em;
  display: grid;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto auto;
  justify-items:center;
  justify-content: space-around;
}

.Sign-In-Section-1{
  grid-column: 2/4;
  grid-row: 1/2;
}
.Sign-In-Section-2{
  grid-column: 2/3;
  grid-row: 2/3;
}
.Sign-In-Section-3{
  grid-column: 3/4;
  grid-row: 2/3;
}
.Sign-In-Section-4{
  grid-column: 2/3;
  grid-row: 3/4;
}
.Sign-In-Section-5{
  grid-column: 3/4;
  grid-row: 3/4;
}
.Sign-In-Section-6{
  grid-column: 2/3;
  grid-row: 4/5;
}
.Sign-In-Section-7{
  grid-column: 3/4;
  grid-row: 4/5;
}
.Sign-In-Section-8{
  grid-column: 2/3;
  grid-row: 5/6;
}
.Sign-In-Section-9{
  grid-column: 3/4;
  grid-row: 5/6;
}
.Sign-In-Section-10{
  grid-column: 2/3;
  grid-row: 6/7;
}
.Sign-In-Section-11{
  grid-column: 3/4;
  grid-row: 6/7;
}
.Sign-In-Section-12{
  grid-column: 2/3;
  grid-row: 7/8;
}
.Sign-In-Section-13{
  grid-column: 3/4;
  grid-row: 7/8;
}
/*Sign in page layout on smaller devices */
@media only screen and (max-width: 550px){
  .Sign-In-Container{
    padding: 0.25em;
    display: grid;
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    justify-items:center;
    justify-content: space-around;
  }

  .Sign-In-Section-1{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .Sign-In-Section-2{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .Sign-In-Section-3{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .Sign-In-Section-4{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Sign-In-Section-5{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Sign-In-Section-6{
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Sign-In-Section-7{
   grid-column: 1/2;
    grid-row: 7/8;
  }
  .Sign-In-Section-8{
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .Sign-In-Section-9{
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .Sign-In-Section-10{
    grid-column: 1/2;
    grid-row: 10/11;
  }
  .Sign-In-Section-11{
    grid-column: 1/2;
    grid-row: 11/12;
  }
  .Sign-In-Section-12{
    grid-column: 1/2;
    grid-row: 12/13;
  }
  .Sign-In-Section-13{
    grid-column: 1/2;
    grid-row: 13/14;
  }
}

.Signed-In-Container{
  padding: 0.25em;
  display: grid;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto auto;
  justify-items:center;
  justify-content: space-around;
}

.Signed-In-Section-1{
  grid-column: 2/4;
  grid-row: 1/2;
}
.Signed-In-Section-2{
  grid-column: 2/3;
  grid-row: 2/3;
}
.Signed-In-Section-3{
  grid-column: 3/4;
  grid-row: 2/3;
}
.Signed-In-Section-4{
  grid-column: 2/3;
  grid-row: 3/4;
}
.Signed-In-Section-5{
  grid-column: 3/4;
  grid-row: 3/4;
}
.Signed-In-Section-6{
  grid-column: 2/3;
  grid-row: 4/5;
}
.Signed-In-Section-7{
  grid-column: 3/4;
  grid-row: 4/5;
}
.Signed-In-Section-8{
  grid-column: 2/3;
  grid-row: 5/6;
}
.Signed-In-Section-9{
  grid-column: 3/4;
  grid-row: 5/6;
}
.Signed-In-Section-10{
  grid-column: 2/3;
  grid-row: 6/7;
}
.Signed-In-Section-11{
  grid-column: 3/4;
  grid-row: 6/7;
}
.Signed-In-Section-12{
  grid-column: 2/4;
  grid-row: 7/8;
}
@media only screen and (max-width: 550px){
  .Signed-In-Container{
    padding: 0.25em;
    display: grid;
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    justify-items:center;
    justify-content: space-around;
  }

  .Signed-In-Section-1{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .Signed-In-Section-2{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .Signed-In-Section-3{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .Signed-In-Section-4{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .Signed-In-Section-5{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .Signed-In-Section-6{
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .Signed-In-Section-7{
   grid-column: 1/2;
    grid-row: 7/8;
  }
  .Signed-In-Section-8{
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .Signed-In-Section-9{
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .Signed-In-Section-10{
    grid-column: 1/2;
    grid-row: 10/11;
  }
  .Signed-In-Section-11{
    grid-column: 1/2;
    grid-row: 11/12;
  }
  .Signed-In-Section-12{
    grid-column: 1/2;
    grid-row: 12/13;
  }
  .Signed-In-Section-13{
    grid-column: 1/2;
    grid-row: 13/14;
  }
}
